@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-green: #184025;
  --color-green-2: #C3EFD4;
  --color-pink-1: #F0DDDB;
  --color-yellow: #FDFBD4;
  --color-pink-2: #FDE6D4;
  --color-green-1: #d8efe1;
  --color-text-green: #0a1b10;
  --color-text-pink: #684440;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --container-center: true;
  --container-padding: 2rem;
}


.container {
  @apply mx-auto max-w-7xl px-4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Webfont: Yekan */
@font-face {
  font-family: 'Yekan';
  src:
    url('/fonts/Yekan.woff2') format('woff2');


  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}


body {
  color: var(--foreground);
  font-family: 'Yekan';
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  direction: rtl;
}